html {
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
    background-color: #F5F5F5;
    min-height: 100%;
}

.flex-container {
    margin-top: 3rem;
    min-width: 600px;
}

.todo-title {
    margin: 2rem;
    text-align: center;
    color: cadetblue;
    font-size: 5rem;
}

.todo-time {
    margin: 3rem;
    text-align: center;
    color: rgba(0,0,0,0.8);
    font-size: 2rem;
}

.todo-box {
    background-color: white;
    border: 1px solid #ddd;
}

.todo-input-box {
    display: flex;
    flex-direction: row;
    height: 3rem;
    border-bottom: 1px solid #ddd;
    justify-content: space-around;
    align-items: center;
}

button {
    background-color: transparent;
    border: 0;
}

.complete-all-btn {
    color: black;
    font-size: 1.5rem;
    margin-left: 0.8rem;
    cursor: pointer;
}

.complete-all-btn:hover,
.input-button:hover {
    color: cadetblue;
}

#todo-input {
    width: 80%;
    text-align: center;
    border: 0;
    outline: none;
    font-size: 1.2rem;
}

.input-button {
    font-size: 2rem;
    margin-right: 1rem;
    cursor: pointer;
}

.todo-item {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 3rem;
    border-bottom: 1px solid #ddd;
}

.checkbox {
    width: 1.5rem;
    height: 1.5rem;
    margin-left: 1rem;
    border-radius: 50px;
    border: 1px solid lightgray;
    cursor: pointer;
    text-align: center;
}

/*
.checkbox.checked .todo{
    border: 2px solid darkgray;
    color: green;
}
*/

.todo {
    font-size: 1.3rem;
    width: 50%;
    min-height: 23px;
    min-width: 100px;
    cursor: pointer;
}
.time {
    font-size: small;
}

/*
.todo-item.checked .todo{
 font-style: italic;
 text-decoration: line-through;
 color: lightgray;
}
*/

.delBtn {
    opacity: 1;
    width: 3rem;
    height: 2rem;
    font-size: 1.5rem;
    font-weight: lighter;
    margin-right: 8px;
    cursor: pointer;
}

.delBtn:hover {
    color:rgba(255,0,0);
}

.todo-bottom {
    height: 3rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
}

.button-group {
    display: flex;
    flex-direction: row;
}

.button-group button {
    border: 1px solid #eee;
    padding: 0.2rem 0.5rem;
    margin: 0 0.5rem;
    border-radius: 8px;
    cursor: pointer;
}

.clear-completed-btn:hover {
    font-style: italic;
    text-decoration: underline;
    cursor: pointer;
}

.edit-input {
    position: absolute;
    left: 0;
    top: 0;
    width: 593px;
    height: 2.8rem;
    min-width:590px;
    min-height:2.7rem;
    margin: 0;
    background-color: white;
    border:1px solid black;
    font-size: 1.5rem;
}

p.info {
    margin-top: 1.5rem;
    text-align: center;
    color: #ccc;
}